<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SalesApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    
 
    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@

        <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/fullcalendar.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/plugins/morris/morris.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
        <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/fullcalendar.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" type="text/css" href="~/assets/plugins/morris/morris.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    </environment>
    @inject SalesApp.Data.ApplicationDbContext _context
    @{ 
        var userdetails = _context.Users.FirstOrDefault(x => x.UserName == User.Identity.Name);
        if(userdetails != null)
        {
            ViewBag.UserName = userdetails.FirstName;
            ViewBag.ImageUrl = userdetails.ImageUrl;
        }
        
    }
</head>
<body onload=display_ct();>
    <div class="main-wrapper">

        <div class="header">
            <div class="header-left">
                <a href="#" class="logo">
                    <img src="~/images/pos-logo.png"  height="60" alt="">
                </a>
            </div>
            <div class="page-title-box pull-left">
                <h3>Multiskills Mobile POS</h3>
            </div>
            <a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <ul class="nav user-menu pull-right">
                
             
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="~/Uploads/Passports/@(System.IO.Path.GetFileName(ViewBag.ImageUrl))" width="40" height="40" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span>@ViewBag.UserName</span>
                    </a>
                    <div class="dropdown-menu">
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </li>
            </ul>
         
        </div>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="@ViewBag.Dashboard">
                            <a asp-action="Index" asp-controller="Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
                        </li>

                        <li class="">
                            <a asp-action="ProductListAll" asp-controller="POS"><i class="fa fa-shopping-cart"></i> POS</a>
                        </li>
                        <li class="submenu">
                            <a href="#" class="@ViewBag.Category"><i class="fa fa-briefcase" aria-hidden="true"></i> <span>Category</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a asp-action="Index" asp-controller="Categories"> Category List </a></li>
                                <li><a asp-action="Create" asp-controller="Categories"> Add Category </a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#" class="@ViewBag.SubCategory"><i class="fa fa-briefcase" aria-hidden="true"></i> <span>SubCategory</span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a asp-action="Index" asp-controller="SubCategories">Sub Category List </a></li>
                                <li><a asp-action="Create" asp-controller="SubCategories"> Add Sub Category </a></li>
                            </ul>
                        </li>
                        <li class="submenu ">
                            <a href="#" class="@ViewBag.Product"><i class="fa fa-product-hunt" aria-hidden="true"></i> <span> Product </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled" style="display: none;">
                                <li><a asp-action="Index" asp-controller="Products"> Products List </a></li>
                                <li><a asp-action="Create" asp-controller="Products"> Add Product </a></li>
                            </ul>
                        </li>
                        <hr />
                        <li>
                            <span id='ct' style="padding:5px;font-size:1.3em"></span>
                        </li>
                        <hr />
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function display_c() {
                var refresh = 1000; // Refresh rate in milli seconds
                mytime = setTimeout('display_ct()', refresh)
            }

           function display_ct() {
                var x = new Date()
                var x1=x.toISOString().replace(/T/, ' ').replace(/\..+/, '');// changing the display to UTC string
                document.getElementById('ct').innerHTML = x1;
                tt=display_c();
                 }
        </script>
        <div class="page-wrapper">
            @RenderBody()
        </div>
    </div>

        <environment include="Development">
            @*<script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>*@

            <script data-cfasync="false" src="~/assets/email/email-decode.min.js"></script>
            <script type="text/javascript" src="~/assets/js/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="~/assets/js/popper.min.js"></script>
            <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="~/assets/js/jquery.slimscroll.js"></script>
            <script type="text/javascript" src="~/assets/js/select2.min.js"></script>
            <script type="text/javascript" src="~/assets/js/moment.min.js"></script>
            <script type="text/javascript" src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
            <script type="text/javascript" src="~/assets/plugins/morris/morris.min.js"></script>
            <script type="text/javascript" src="~/assets/plugins/raphael/raphael-min.js"></script>
            <script type="text/javascript" src="~/assets/js/app.js"></script>

        </environment>
        <environment exclude="Development">
            @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>*@

            <script data-cfasync="false" src="~/assets/email/email-decode.min.js"></script>
            <script type="text/javascript" src="~/assets/js/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="~/assets/js/popper.min.js"></script>
            <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="~/assets/js/jquery.slimscroll.js"></script>
            <script type="text/javascript" src="~/assets/js/select2.min.js"></script>
            <script type="text/javascript" src="~/assets/js/moment.min.js"></script>
            <script type="text/javascript" src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
            <script type="text/javascript" src="~/assets/plugins/morris/morris.min.js"></script>
            <script type="text/javascript" src="~/assets/plugins/raphael/raphael-min.js"></script>
            <script type="text/javascript" src="~/assets/js/app.js"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
