@model IEnumerable<SalesApp.Models.Category>
@inject SalesApp.Data.ApplicationDbContext _context
    @{
    ViewData["Title"] = "Index";
        Layout = "_PosLayout";
       
    }

    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-4 col-4">
                <h4 class="page-title">Products Categories</h4>
            </div>
            <div class="col-sm-8 col-8 text-right m-b-20">
                <a asp-action="ProductListAll" asp-controller="POS" class="btn btn-primary btn-rounded pull-right"><i class="fa fa-bars"></i> list all Product instead</a>
                </div>
            </div>
        </div>


        <div class="row">
            @foreach (var item in Model)
            {
                var subcategory = _context.SubCategories.Where(x => x.CategoryId == item.Id);
                if (subcategory.Count() > 0)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="product">
                            <div class="product-inner">
                                <a asp-action="Subcategory" asp-controller="POS" asp-route-id="@item.Id">
                                        <img alt="alt" src="~/Uploads/Categories/@(System.IO.Path.GetFileName(item.ImageUrl))" style="height:230px">
                                </a>

</div>
                            <div class="pro-desc">
                                <h5 style="font-size:18px"><a asp-action="Subcategory" asp-controller="POS" asp-route-id="@item.Id">@subcategory.Count() items under @item.Name</a> </h5>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="product">
                            <div class="product-inner">
                                <a asp-action="ProductList" asp-controller="POS" asp-route-catId="@item.Id">
                                    <img alt="alt" src="~/Uploads/Categories/@(System.IO.Path.GetFileName(item.ImageUrl))" style="height:230px">
                                    </a>

                            </div>
                            <div class="pro-desc">
                                <h5 style="font-size:18px"><a asp-action="ProductList" asp-controller="POS" asp-route-catId="@item.Id">@subcategory.Count() items under @item.Name </a></h5>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
